<div class="row repo-show white">
    <div class="container z-depth-1">
      <table class="highlight para-text dash-table">
             <thead>
               <tr>
                   <th>No.</th>
                   <th data-field="id">Name</th>
                   <th data-field="price">Downloads</th>
                   <th data-field="price">Views</th>
                   <th data-field="price">Favourites</th>
                   <th data-field="price">Show/Hide</th>

               </tr>
             </thead>

             <tbody>
               <tr>
                 <td>ABC XYZ TESZT FJSFSS SJFS</td>
                 <td>123</td>
                 <td>213</td>
                 <td>123</td>
                 <td>4536</td>
                 <td>
                   <div class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                 </td>
                 <td data-field="price"><i class="material-icons">mode_edit</i><i class="material-icons">delete</i></td>
               </tr>
               <tr>
                 <td>ABC XYZ TESZT FJSFSS SJFS</td>
                 <td>123</td>
                 <td>213</td>
                 <td>123</td>
                 <td>4536</td>
                 <td>
                   <div class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                 </td>
                 <td data-field="price"><i class="material-icons">mode_edit</i><i class="material-icons">delete</i></td>
               </tr>

               <tr>
                 <td>ABC XYZ TESZT FJSFSS SJFS</td>
                 <td>123</td>
                 <td>213</td>
                 <td>123</td>
                 <td>4536</td>
                 <td>
                   <div class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                 </td>
                 <td data-field="price"><i class="material-icons">mode_edit</i><i class="material-icons">delete</i></td>
               </tr>

               <tr>
                 <td>ABC XYZ TESZT FJSFSS SJFS</td>
                 <td>123</td>
                 <td>213</td>
                 <td>123</td>
                 <td>4536</td>
                 <td>
                   <div class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                 </td>
                 <td data-field="price"><i class="material-icons">mode_edit</i><i class="material-icons">delete</i></td>
               </tr>

               <tr>
                 <td>ABC XYZ TESZT FJSFSS SJFS</td>
                 <td>123</td>
                 <td>213</td>
                 <td>123</td>
                 <td>4536</td>
                 <td>
                   <div class="switch">
                      <label>
                        <input type="checkbox">
                        <span class="lever"></span>
                      </label>
                    </div>
                 </td>
                 <td data-field="price"><i class="material-icons">mode_edit</i><i class="material-icons">delete</i></td>
               </tr>

             </tbody>
           </table>

    </div>
</div>
