<section class="z-depth-1" id="splash-blue">
  <div class="container">
    <div class="row">
      <div id="payoff" class="col s12 center-align">
        <h1 class="white-text main-title">Connect. Add. Share.</h1>
        <h5 class="white-text sub-title">Show off your research and development<br>
        open source your knowledge and make better community for today and tomorrow</h5>
        <!-- <h5 class="white-text sub-title">Create APIs, service based apps &amp; high value integrations in a few clicks</h5> -->
      </div>
    </div>
    <div class="row github_login">
      <a href="#" class="waves-effect waves-light btn white text-primarycolor modal-trigger"><i class="fa fa-github" style="color: #689f38 !important"></i></i> SIGN UP WITH GITHUB</a>
    </div>
    <div class="row">
      <form method="get" action="/search" id="search">
        <input name="q" type="text" size="40" placeholder="Search..." /><span class="fa fa-search"></span></input>
      </form>
    </div>
    <div class="row" style="text-align: center">
      <div class="col s4 ">
        <h5 class="white-text sub-title">1111+ Projects</h5>
      </div>
      <div class="col s4">
        <h5 class="white-text sub-title">1111+ Contributers</h5>
      </div>
      <div class="col s4">
        <h5 class="white-text sub-title">40+ Languages</h5>
      </div>
    </div>
  </div>
</section>
<main class="no-padding">
    <div class="section white">
        <div class="container">
            <div class="row">
                <div class="col m12 s12">
                    <div class="section">
                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/montreal/westmount/standard-coffee-bar/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Standard coffee bar"
                                            alt="Standard coffee bar"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/montreal/westmount/">Westmount</a>
                                    </p>
                                    <a data-deeplink="adbeus://standard-coffee-bar" href="https://adbeus.com/montreal/westmount/standard-coffee-bar/">
                                        <span class="card-title activator brown-text text-darken-4">Standard coffee bar</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card">
                                <div class="card-image waves-effect waves-block waves-light">
                                    <a href="https://adbeus.com/boston/render-coffee-house/">
                                        <img
                                            width="305"
                                            height="229"
                                            sizes="(max-width: 305px) 100vw, 305px"
                                            srcset="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png 305w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-300x225.png 300w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-768x576.png 768w, //adbeus.com/wp-content/uploads/2015/02/adbeus_noimage.png 800w"
                                            title="Render Coffee House"
                                            alt="Render Coffee House"
                                            class="responsive-img wp-post-image"
                                            src="//adbeus.com/wp-content/uploads/2015/02/adbeus_noimage-305x229.png">
                                    </a>
                                </div>
                                <div class="card-content">
                                    <p class="area">
                                        <a href="https://adbeus.com/coffee/boston/">Boston</a>
                                    </p>
                                    <a data-deeplink="adbeus://render-coffee-house" href="https://adbeus.com/boston/render-coffee-house/">
                                        <span class="card-title activator brown-text text-darken-4">Render Coffee House</span>
                                    </a>
                                    <br>
                                    <a style="font-size: 0.9rem;  ;" target="_blank" class="green-text" href="https://simplebooklet.com/warmupaugust2016">OPEN</a>
                                    <span style="float: right; padding-right: 1rem;"><i style="font-size: 1.3rem; padding-right: 10px;cursor: pointer;" data-tooltip="112 Views" data-delay="50" data-position="top" class="material-icons light-blue-text tooltipped">visibility</i> <i style="font-size: 1.3rem; padding-right: 10px; cursor: pointer;" data-tooltip="Likes 1" data-delay="50" data-position="top" data-workpad-key="41XQ4DjUPJAaE52k9Hr87i" class="material-icons pink-text tooltipped action-like">favorite</i> <span style="float: left;"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
